<%# views/layout.ejs %>

<!DOCTYPE html>
<html>
<head>
	<title>Simva - A Simple Validator</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link href="/css/loader.css" rel="stylesheet" type="text/css">
	<link href="/toast/jquery.toast.css" rel="stylesheet" type="text/css">
	<link href="/libs/jsonTree/jsonTree.css" rel="stylesheet" />
	<script src="/libs/jsonTree/jsonTree.js"></script>
	<script src="/libs/SSEClientManager.js">//type="module"</script>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/toast/jquery.toast.js"></script>
	<script type="text/javascript" src="/utils.js"></script>
	<script type="text/javascript" src="/simva.js"></script>
	<script type="text/javascript">
		Simva.setJWT("<%= user.jwt %>");
		Simva.setAPIURL("<%= config.api.url %>");
		Simva.setSSOURL("<%= config.sso.url %>");
		Simva.setSSOREALM("<%= config.sso.realm %>");
		var roller = '<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>';

		$(document).ready(function() {
			$(".floater").on('click', function(event){
				if (event.target !== this)
    				return;
				$(this).parent().toggleClass('shown');
			});
		});
	</script>
</head>
<body>
	<div class="header">
		<div class="left"><span class="logo"><img src="/logo.png"></span> <span class="title">Simva - A Simple Validator</span></div>
		<div class="right">
			<span><a href="<%= config.sso.accountUrl%>"><img src="/icon/user.png"> <span><%= user.data.username %></span></a></span>
			<span><a class="logout" href="/users/logout"><img src="/icon/power.png"> <span>Logout</span></a></span>
		</div>
	</div>
	
	<%- content %>
</body>
</html>